@charset "UTF-8";
/* Tipografía local Cormorant-Garamond*/
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Cormorant-Garamond";
  src: url("../recursos/fonts/CormorantGaramond-Regular.ttf"); }

/* Tipografía web  Proza Libre */
* {
  margin: 0;
  padding: 0;
  font-family: 'Proza Libre', sans-serif; }

#header ul {
  display: flex;
  list-style: none;
  background-color: #444545; }
  #header ul li {
    margin: 1rem 2rem; }
    #header ul li a {
      text-decoration: none;
      color: #b5ffe9; }
      #header ul li a:visited {
        color: #c5e0d8; }
      #header ul li a:hover {
        color: #ceabb1; }

#main-index {
  margin: 0 auto;
  padding: 1.25rem;
  max-width: 60rem; }
  #main-index h1 {
    text-align: center;
    margin-bottom: 1rem; }
  #main-index h2 {
    text-align: center;
    margin: 1rem auto; }
  #main-index img {
    width: 90%;
    max-width: 35rem;
    display: block;
    margin: 1rem auto; }
  #main-index p {
    text-align: center; }
    #main-index p a {
      text-decoration: none;
      color: #b5ffe9; }
      #main-index p a:visited {
        color: #444545; }
      #main-index p a:hover {
        color: #ceabb1; }
  #main-index form {
    display: flex;
    justify-content: space-evenly;
    max-width: 50rem;
    width: 90%;
    margin: 1rem auto; }
    #main-index form div label {
      display: block;
      margin: 1rem 0.2rem 0;
      color: #444545; }
    #main-index form div input {
      max-width: 10rem;
      width: 50%;
      padding: 1rem;
      margin: 0.5rem 0;
      border: 1px solid #444545;
      border-radius: 0.4rem; }
    #main-index form div select {
      max-width: 10rem;
      min-width: 5rem;
      width: 70%;
      padding: 1rem;
      margin: 0.5rem 0;
      border: 1px solid #444545;
      border-radius: 0.4rem; }
  #main-index .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-items: center;
    max-width: 40rem;
    margin: 1rem auto; }
    #main-index .grid-container .titulo-result {
      font-weight: bold;
      min-width: 5rem; }
  #main-index button {
    display: block;
    margin: 2rem auto;
    background-color: #ceabb1;
    color: #444545;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.4rem;
    cursor: pointer; }
    #main-index button:hover {
      background-color: #b5ffe9; }
