@charset "UTF-8";
/* Tipografía local Cormorant-Garamond*/
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "Cormorant-Garamond";
  src: url("../recursos/fonts/CormorantGaramond-Regular.ttf"); }

/* Tipografía web  Proza Libre */
* {
  margin: 0;
  padding: 0;
  font-family: 'Proza Libre', sans-serif; }

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

nav.navbar ul.navbar-lista {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  background-color: #333333; }
  nav.navbar ul.navbar-lista li {
    margin: 0.1rem 1rem; }
    nav.navbar ul.navbar-lista li h1 {
      color: #999999;
      transition: color 0.2s ease; }
      nav.navbar ul.navbar-lista li h1:hover {
        color: #f8f8f8; }
    nav.navbar ul.navbar-lista li a {
      text-decoration: none;
      color: #f8f8f8;
      transition: color 0.2s ease; }
      nav.navbar ul.navbar-lista li a:visited {
        color: #f8f8f8; }
      nav.navbar ul.navbar-lista li a:hover {
        color: #999999; }

@media (min-width: 30rem) {
  nav.navbar ul.navbar-lista {
    flex-direction: row; } }

#main-index {
  padding: 1.25rem;
  flex: 1; }
  #main-index section {
    max-width: 50rem;
    width: 98%;
    margin: auto; }
    #main-index section h1 {
      text-align: center;
      margin-bottom: 1rem; }
    #main-index section p {
      text-align: start;
      line-height: 2rem;
      margin: 1rem 0; }
    #main-index section ul {
      line-height: 2rem; }
      #main-index section ul a {
        text-decoration: none;
        color: #005bb5; }
        #main-index section ul a:visited {
          color: #007acc; }
        #main-index section ul a:hover {
          color: #007acc; }

#main-pavimentos {
  padding: 1.25rem;
  flex: 1; }
  #main-pavimentos section {
    max-width: 50rem;
    width: 98%;
    margin: auto; }
    #main-pavimentos section h1 {
      text-align: center;
      margin-bottom: 1rem; }
    #main-pavimentos section h2 {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }
  #main-pavimentos section.espesores-constructivos img {
    width: 90%;
    max-width: 35rem;
    display: block;
    margin: 1rem auto; }
  #main-pavimentos section.espesores-constructivos p {
    text-align: center; }
    #main-pavimentos section.espesores-constructivos p a {
      text-decoration: none;
      color: #005bb5; }
      #main-pavimentos section.espesores-constructivos p a:visited {
        color: #007acc; }
      #main-pavimentos section.espesores-constructivos p a:hover {
        color: #007acc; }
  #main-pavimentos section.calculos form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    margin: auto; }
    #main-pavimentos section.calculos form div.objetivos-diseno {
      max-width: 20rem;
      margin: auto;
      padding: 1rem;
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      align-items: center;
      row-gap: 0.3rem;
      border: 1px solid #333333;
      border-radius: 1rem; }
      #main-pavimentos section.calculos form div.objetivos-diseno label {
        justify-self: start;
        color: #333333; }
      #main-pavimentos section.calculos form div.objetivos-diseno input,
      #main-pavimentos section.calculos form div.objetivos-diseno select {
        justify-self: end;
        min-width: 4.5rem;
        max-width: 6rem;
        min-height: 1.25rem;
        padding: 0.2rem;
        border: 1px solid #333333;
        border-radius: 0.3rem; }
    #main-pavimentos section.calculos form div.materiales-resultados {
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      justify-items: center;
      align-items: center;
      row-gap: 0.2rem;
      column-gap: 1rem;
      border: 1px solid #333333;
      border-radius: 1rem; }
      @media (max-width: 600px) {
        #main-pavimentos section.calculos form div.materiales-resultados {
          overflow-x: scroll; } }
      #main-pavimentos section.calculos form div.materiales-resultados span.titulo {
        font-weight: bold;
        text-align: center; }
      #main-pavimentos section.calculos form div.materiales-resultados input {
        min-width: 4.5rem;
        max-width: 6rem;
        padding: 0.2rem;
        border: 1px solid #333333;
        border-radius: 0.3rem; }
  #main-pavimentos section.calculos .botones {
    display: flex;
    max-width: 20rem;
    justify-content: space-evenly;
    margin: 1rem auto 0 auto; }
    #main-pavimentos section.calculos .botones button {
      display: block;
      margin: 0 1rem;
      background-color: #333333;
      color: #f8f8f8;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;
      transition: background-color 0.4s ease; }
      #main-pavimentos section.calculos .botones button:hover {
        background-color: #999999; }

#main-suelos {
  padding: 1.25rem;
  flex: 1; }
  #main-suelos section {
    max-width: 50rem;
    width: 98%;
    margin: auto; }
    #main-suelos section h1 {
      text-align: center;
      margin-bottom: 1rem; }
    #main-suelos section h2 {
      text-align: center;
      margin-top: 1rem;
      margin-bottom: 0.5rem; }
  #main-suelos section.clasificacion p {
    text-align: start;
    line-height: 2rem;
    margin: 1rem 0; }
  #main-suelos section.clasificacion fieldset {
    display: flex;
    margin: auto;
    max-width: 27rem;
    gap: 1rem;
    padding: 0.3rem;
    border: 1px solid #333333;
    border-radius: 0.3rem; }
  #main-suelos section.clasificacion form.granulometria {
    display: grid;
    max-width: 27rem;
    height: 20rem;
    overflow-y: scroll;
    margin: 1rem auto;
    padding: 0.7rem 0;
    grid-template-columns: 4fr 5fr 5fr;
    grid-template-rows: 3 rem repeat(23, 1fr);
    row-gap: 0.2rem;
    align-items: center;
    justify-items: center;
    border: 1px solid #333333;
    border-radius: 0.3rem; }
  #main-suelos section.clasificacion form.limites {
    display: grid;
    max-width: 20rem;
    margin: 1rem auto;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center; }
  #main-suelos section.clasificacion span {
    font-weight: bold; }
  #main-suelos section.clasificacion label,
  #main-suelos section.clasificacion span {
    color: #333333;
    text-align: center; }
  #main-suelos section.clasificacion input {
    min-width: 2rem;
    max-width: 4rem;
    padding: 0.2rem;
    border: 1px solid #333333;
    border-radius: 0.3rem; }
  #main-suelos section.clasificacion .botones {
    display: flex;
    justify-content: space-evenly; }
    #main-suelos section.clasificacion .botones button {
      display: block;
      margin: 0.5rem 0.1rem;
      background-color: #333333;
      color: #f8f8f8;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;
      transition: background-color 0.4s ease; }
      #main-suelos section.clasificacion .botones button:hover {
        background-color: #999999; }
  #main-suelos section.resultados {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #main-suelos section.resultados .contenedor-resultados {
      display: grid;
      max-width: 30rem;
      margin: auto;
      column-gap: 1rem;
      grid-template-columns: 1fr auto;
      grid-template-rows: repeat(1fr, 5) auto 1fr;
      justify-items: center; }
      #main-suelos section.resultados .contenedor-resultados .titulos, #main-suelos section.resultados .contenedor-resultados .resultados {
        justify-self: start; }
    #main-suelos section.resultados #curva-granulometria {
      margin-top: 0.5rem;
      min-width: 15rem;
      min-height: 10rem;
      border: 1px solid #333333;
      border-radius: 0.3rem; }
      @media (min-width: 768px) {
        #main-suelos section.resultados #curva-granulometria {
          min-width: 30rem;
          min-height: 20rem; } }

#main-hidraulica {
  padding: 1.25rem; }
  #main-hidraulica section {
    max-width: 50rem;
    width: 92%;
    margin: auto; }
    #main-hidraulica section h1 {
      text-align: center;
      margin-bottom: 1rem; }
    #main-hidraulica section h2 {
      text-align: center;
      margin: 1rem auto; }
    #main-hidraulica section p {
      margin: 1rem 0; }

#main-transito {
  padding: 1.25rem;
  flex: 1; }
  #main-transito section {
    max-width: 50rem;
    width: 98%;
    margin: auto; }
    #main-transito section h1 {
      text-align: center;
      margin-bottom: 1rem; }
    #main-transito section h3 {
      text-align: center;
      margin: 1rem auto; }
  #main-transito section.datos-entrada form.formulario-velocidades {
    display: grid;
    max-width: 30rem;
    width: 90%;
    margin: 1rem auto;
    grid-template-columns: 5fr 6fr;
    row-gap: 0.3rem;
    align-items: center;
    justify-items: center; }
    #main-transito section.datos-entrada form.formulario-velocidades span {
      color: #333333;
      text-align: center; }
    #main-transito section.datos-entrada form.formulario-velocidades input {
      min-width: 2rem;
      max-width: 4rem;
      padding: 0.2rem;
      border: 1px solid #333333;
      border-radius: 0.4rem; }
  #main-transito section.datos-entrada .botones {
    display: flex;
    justify-content: space-evenly; }
    #main-transito section.datos-entrada .botones button {
      display: block;
      margin: 2rem auto;
      background-color: #333333;
      color: #f8f8f8;
      padding: 0.5rem 1rem;
      border: none;
      border-radius: 0.4rem;
      cursor: pointer;
      transition: background-color 0.4s ease; }
      #main-transito section.datos-entrada .botones button:hover {
        background-color: #999999; }
  #main-transito section.resultados {
    display: flex;
    flex-direction: column;
    align-items: center; }
    #main-transito section.resultados .valores-representativos {
      display: grid;
      max-width: 30rem;
      margin: auto;
      column-gap: 1rem;
      grid-template-columns: auto 1fr;
      grid-template-rows: repeat(1fr, 4);
      justify-items: center; }
      #main-transito section.resultados .valores-representativos .titulos, #main-transito section.resultados .valores-representativos .resultados {
        justify-self: start; }
    #main-transito section.resultados .grafica {
      margin-top: 0.5rem;
      min-width: 15rem;
      min-height: 10rem;
      border: 1px solid #333333;
      border-radius: 0.3rem; }
      @media (min-width: 768px) {
        #main-transito section.resultados .grafica {
          min-width: 30rem;
          min-height: 20rem; } }

footer {
  background-color: #333333;
  color: #f8f8f8;
  padding: 0.5rem 0;
  text-align: center; }
