// Paleta de colores
$color-blanco_ahumado: #f8f8f8;
$color-gris_oscuro: #333333;
$color-gris_medio: #666666;
$color-gris_claro: #999999;
$color-azul_oscuro: #005bb5;
$color-azul_claro: #007acc;
$color-verde: #4CAF50;
