#header {

  ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    background-color: $color1;
    li{
        // margin: 1rem 2rem;
        // display: none;
        a {
            text-decoration: none;
            color: $color2;
            &:visited {
              color: $color3;
            }
            &:hover {
              color: $color5;
            }
          }
    }
}

  @media (min-width: 30rem) {

    ul {
      flex-direction: row;
      li {
        margin:0.5rem 1rem;
      }
    }
  }
}