#main-index {
  margin: 0 auto;
  padding: 1.25rem;

  // Para todas las secciones
  section {
    max-width: 50rem;
    width: 98%;
    margin: auto;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }
    p {
      text-align: start;
      a {
        text-decoration: none;
        color: $color2;
        &:visited {
          color: $color1;
        }
        &:hover {
          color: $color5;
        }
      }
    }
  }
}
