#main-pavimentos {
  margin: 0 auto;
  padding: 1.25rem;

  // Para todas las secciones
  section {
    max-width: 50rem;
    width: 98%;
    margin: auto;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }
    h2 {
      text-align: center;
      margin: 1rem auto;
    }
  }

  // Para la primera sección
  section.espesores-constructivos {
    img {
      width: 90%;
      max-width: 35rem;
      display: block;
      margin: 1rem auto;
    }
    p {
      text-align: center;
      a {
        text-decoration: none;
        color: $color-azul_oscuro;
        &:visited {
          color: $color-azul_claro;
        }
        &:hover {
          color: $color-azul_claro;
        }
      }
    }
  }

  section.datos-entrada {
    form {
      display: flex;
      justify-content: space-evenly;
      max-width: 50rem;
      width: 90%;
      margin: 1rem auto;
      div {
        label {
          display: block;
          margin: 1rem 0.2rem 0;
          color: $color-gris_oscuro;
        }
        input,
        select {
          min-width: 4.5rem;
          max-width: 6rem;
          // width: 3rem;
          padding: 0.2rem;
          border: 1px solid $color-gris_oscuro;
          border-radius: 0.3rem;
        }
      }
    }
    .botones {
      display: flex;
      justify-content: space-evenly;
      button {
        display: block;
        margin: 2rem auto;
        background-color: $color-gris_oscuro;
        color: $color-blanco_ahumado;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: background-color 0.4s ease;
        &:hover {
          background-color: $color-gris_claro;
        }
      }
    }
  }

  section.resultados {
    .grid-container {
      display: grid;
      grid-template-columns: 1fr 1.5fr 2fr 2fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      justify-items: center;
      max-width: 30rem;
      margin: 1rem auto;
      .titulo-result {
        font-weight: bold;
        margin: 0 0.2rem;
        // min-width: 5rem;
        text-align: center;
      }
    }
  }
}
