#main-hidraulica {
  margin: 0 auto;
  padding: 1.25rem;
  // width: 100%;
  // max-width: 60rem;
  // background-color: $color3;
  section {
    max-width: 50rem;
    width: 98%;
    margin: auto;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }

    h2 {
      text-align: center;
      margin: 1rem auto;
    }

    p {
      margin: 1rem 0;
    }
    
  }
}
