#main-suelos {
  margin: 0 auto;
  padding: 1.25rem;

  // Para todas las secciones
  section {
    max-width: 50rem;
    width: 98%;
    margin: auto;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }
    h2 {
      text-align: center;
      margin: 1rem auto;
    }
  }

  // Para la primera sección
  section.clasificacion {
    p {
      text-align: start;
      line-height: 2rem;
      margin: 1rem 0;
    }
    fieldset {
      display: flex;
      // justify-content: center;
      gap: 1rem;
      padding: 0.3rem;
      border: 1px solid $color-gris_oscuro;
      border-radius: 0.3rem;
    }
    form.granulometria {
      display: grid;
      // width: 95%;
      margin: 1rem auto;
      grid-template-columns: 4fr 5fr 5fr;
      grid-template-rows: 3 rem repeat(23, 1fr);
      row-gap: 0.5rem;
      align-items: center;
      justify-items: center;
    }
    form.limites {
      display: grid;
      margin: 1rem auto;
      grid-template-columns: 1fr 2fr 1fr 2fr;
      align-items: center;
      justify-items: center;
    }
    span {
      font-weight: bold;
    }
    label, span {
      color: $color-gris_oscuro;
      text-align: center;
    }
    input {
      min-width: 2rem;
      max-width: 4rem;
      // width: 3rem;
      padding: 0.2rem;
      border: 1px solid $color-gris_oscuro;
      border-radius: 0.3rem;
    }
    .botones {
      display: flex;
      justify-content: space-evenly;
      button {
        display: block;
        margin: 2rem 0.1rem;
        background-color: $color-gris_oscuro;
        color: $color-blanco_ahumado;
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 0.4rem;
        cursor: pointer;
        transition: background-color 0.4s ease;
        &:hover {
          background-color: $color-gris_claro;
        }
      }
    }
  }

  section.resultados {
    .contenedor-resultados {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(7, 1fr);
      justify-items: center;
      max-width: 30rem;
      margin: 1rem auto;
    }
  }

  // Para pantallas pequeñas (menos de 480 px de ancho)
  // @media (max-width: 30rem) {
  //   section.clasificacion {
  //     label.etiqueta-mm {
  //       display: none;
  //     }
  //   }
  // }
}
