#main-hidraulica {
  padding: 1.25rem;
  section {
    max-width: 50rem;
    width: 92%;
    margin: auto;
    h1 {
      text-align: center;
      margin-bottom: 1rem;
    }

    h2 {
      text-align: center;
      margin: 1rem auto;
    }

    p {
      margin: 1rem 0;
    }
    
  }
}
